{% extends 'owners/base2.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row mb-4">
    <div class="col-md-3 mx-auto">
      <div class="card">
        <a href="{% url 'add' %}" class="btn btn-outline success">Welcome</a>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <P class="text-center p-3 fs-4">Featured Ambulance</P>
    <div class="row" id="owner-page">
      {% for single in ambulance %}
      <div class="col-sm-5 mx-auto mb-4">
        <div class="card">
          <img src="{{single.image.url}}" class="card-img-top" alt="{{single.ambulance_name|capfirst}}" />
          <div class="card-body">
            <h5 class="card-title fw-bold text-black">{{single.ambulance_name|capfirst}}</h5>
            <p class="card-text">{{single.ambulance_properties|capfirst}}.</p>
            <a href="{% url 'single' single.id %}" class="btn btn-primary">Details</a>
            
          </div>
        </div>
      </div>
    {% endfor %}
  </div>


</div>
</div>

{% endblock content %}


<!-- 1. User Authentication.
2. Home module / Home page - An outline of the services provided by the application.
3. Machinery Owner panel- Enables the machinery owner to upload and set availability of 
 machinery.
4. Booking Module- For booking purposes.
5. Feedback module - User feedback.
6. Users panel - User can be able to see the available machinery for hire and the times they are available.

7. machine available or not()
8.User profile()
9.CRUD operations. 
10.Rating and review
11.Email feature-->